<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #id {
            display: none;
        }

        #cardProduto {
            margin: 2rem
        }
    </style>
    <title>Document</title>
</head>

<body>
    <form action='/alteraFormAtu/<%=pedido.id%>' method="POST">
        <div>
            <label for='nome'> Insira seu nome
                <input type="text" name='nomeCliente' id='nome' value='<%=pedido.nomeCliente%>'>
            </label>
        </div>
        <div>
            <label for='dataDeEntrega'> Insira a data de entrega
                <input type="date" name='dataDeEntrega' id='dataDeEntrega'>
            </label>
        </div>

        

                <button type="submit">Enviar pedido</button>
                <h2>Selecione a quantidade desejada de cada produto</h2>

                <ul>
                    <%for (let i =0; i < infosItens.length; i++){%>
                        <div id='cardProduto'>
                            <label for='produto'>
                                <div id='produto'>
                                    <%=produtos[i].name%>
                                </div>
                                <input type="number" name='quantidade' id='<%=produtos[i].id%>' value="<%=infosItens[i].quantidade%>"
                                    max='<%=produtos[i].qty_stock%>'></input>
                                <input type="number" name='produtoId' id='id' value='<%=produtos[i].id%>'>
                            </label>
                            <div>
                                Quantidade em estoque: <%=produtos[i].qty_stock%>
                            </div>
                            <div>
                                Valor unitário: R$<%=produtos[i].price%>
                                    <input type='number' name='preco' value='<%=produtos[i].price%>' readonly id='id'>
                            </div>
                        </div>

                        <%}%>
                </ul>
                <button type="submit">Enviar pedido</button>
    </form>
</body>

</html>