<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Seus pedidos</h1>
    <a href='/'>Voltar</a>
    <ul>
        <% for (const pedido of pedidos){%>
            <li>
                <div>
                    <h3>Numero do pedido:</h3>
                    <%=pedido.id%>
                </div>
                <div>
                    <h3>Nome do cliente:</h3>
                    <%=pedido.nomeCliente%>
                </div>
                <form method="GET" action='/meusPedidos/<%=pedido.id%>/itens'>
                    <button type="submit">Ver produtos deste pedido</button> 
                </form>
                <form method="GET" action='/cancelaPedido/<%=pedido.id%>'>
                    <button type="submit">Cancelar pedido</button> 
                </form>
                <form method="GET" action='/alterarPedido/<%=pedido.id%>'>
                    <button type="submit">Alterar pedido</button> 
                </form>
            </li>
            <%}%>
    </ul>
</body>

</html>